html, body { 
  height: 100%; 
  width: 100%;
  margin: 0; 
  padding: 0;
}

*:focus {
  outline: 0;
}

.site-container {
  height: 100%;
  #map-canvas {
    height: 90%;
    overflow: hidden;
  }
}

input#search-input {
  margin: 0 auto;
  border: 0px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-left: 50px;
  display: inline-block;
}

